<div id="primary">
	
	<% if params[:bad_command] && current_user_is_the_user? %>
		<% keyword = params[:bad_command] %>
		
		<div class="msg">
			<p>The command you entered (<%= keyword %>) does not exist. What do you want to do about it?</p>
		
			<ul class="options toolbar">
				<li class="edit"><%= link_to("Pick a default command and direct orphan queries to it.", "/settings") %></li>
				<li class="add"><%= link_to("Create a new command with keyword '#{keyword}'", new_command_path(:keyword => keyword)) %></li>
			</ul>
		
		</div>
		
	<% end %>
	
	
	<% if @commands %>
		<%= render :partial => "commands/generic_summary_table", :locals => {:commands => @commands, :user => @user} %>	
	<% else %>
		<%= render :partial => "commands/quicksearch_summary_table", :locals => {:quicksearches => @quicksearches, :user => @user} unless @quicksearches.empty? %>	
		<%= render :partial => "commands/shortcut_summary_table", :locals => {:shortcuts => @shortcuts, :user => @user} unless @shortcuts.empty? %>
		<%= render :partial => "commands/bookmarklet_summary_table", :locals => {:bookmarklets => @bookmarklets, :user => @user} unless @bookmarklets.empty? %>
	<% end %>

	
</div>

<div id="secondary">

	<h1>Options</h1>
		<ul class="options toolbar">
			<% if current_user_is_the_user? %>
				<li class="add"><%= link_to "Create a new command", new_command_path %></li>
			<% end %>
			<li class="command"><%= link_to "View all #{whose} commands", @user.commands_path %></li>
			<li class="search"><%= link_to "View all #{whose} queries", @user.queries_path %></li>
		</ul>
	
	<h1>Tags</h1>
	
	<%= tag_cloud @tags %>
	
	<h1>Users</h1>
	
	<ul class="users">
	<% for user in @users %>
		<li>
			<b><%= link_to user.login, user.home_path %></b>
			(<%= pluralize(user.commands.count, "command") %>, <%= pluralize(user.queries.count, "query") %>)
		</li>
	<% end %>
	</ul>

		
</div>