<div id="primary">

<h1>Help!</h1>

<p>Note: Setup instructions are <%= link_to "here", setup_path %>.</p>

<h2>What does Queriac do?</h2>
<p>
	Simple answer: It lets you type <b>g james brown</b> in your address bar to do a 
	Google search for James Brown.
</p>
	
<p>Long and fulfilling answer: Queriac could be described as the fusion of Firefox quicksearches 
	and del.icio.us. Queriac allows you to manage your quicksearches, shortcuts, and bookmarklets 
	by taking them out of your browser profile and onto the web, making them portable, taggable, 
	shareable, and generally easier to manage. Ever wanted to know what your friends are looking up in 
	Google, or the dictionary, or keep track of your own searches? Queriac makes it easy.
</p>

<h2>What is a quicksearch?</h2>
<p>A quicksearch (also called a keymark in Mozilla-speak) allows you to define a keyword for searching a site. For example, a keyworded bookmark could be set up so that a user could type 'g spam and eggs' in your address bar and thereby trigger a Google search for the words "spam and eggs."</p>

<p>Read more about quicksearches at the <%= link_to "Mozilla Developer Center", "http://developer.mozilla.org/en/docs/Bookmark_Keywords" %></p>

<h2>How do I create a quicksearch?</h2>
<p>Creating a quicksearch is easy. It's probably most easily explained with an example, so let's say you want to create a Yahoo quicksearch..</p>

<ol class="normal">
	<li>Go to yahoo.com in your browser.</li>
	<li>Search for something; let's say 'dog'</li>
	<li>You will be taken to a new page with a URL that looks something like <code>http://search.yahoo.com/search?p=dog</code>. Copy this URL to your clipboard.</li>
	<li>Assuming you've <%= link_to "set up your browser for use with Queriac", setup_path %>, simply type the word <code>new</code> in your address bar and hit Enter. This will take you to a Queriac page for creating a new command.</li>
	<li>Give the command a meaningful name like <code>Yahoo Search</code> and a simple keyword like <code>y</code>.</li>
	<li>Paste the URL you copied earlier into the URL field and replace the search portion of the string <i>(dog)</i> with the letter q in parentheses: <code>(q)</code>.</li>
	<li>You can optionally write a description of the command and give it some tags, e.g. 'yahoo', 'search', etc..</li>
	<li>Save the command and that's it! You can now type <code>y dog</code> in your address bar to do a Yahoo search for 'dog'.</li>
</ol>

<p>Browsing through other users' commands is another great way to get started. Click the <b>'Copy'</b> link next to any user's command to add a command to your account. <%= link_to "Click here", "/zeke" %> to visit <%= link_to "Zeke", "/zeke" %>'s profile. He has lots of commands.</p>

<h2>What is a bookmarklet?</h2>
<p>I'm gonna go ahead and steal Wikipedia's definition for this one: "A bookmarklet is a small JavaScript program stored as a URL within a bookmark in most popular web browsers, or stored within a hyperlink on a web page." The following are some generic examples of what bookmarklets can be used for..</p>
<ul class="normal">	
	<li>Modify the appearance of a web page within the browser (e.g., change font size, background color, etc.).
	<li>Extract data from a web page (e.g., hyperlinks, images, text, etc.).</li>
	<li>Query a search engine, with search term(s) provided by previously selected text, or by a dialog box.</li>
	<li>Submit the current page to a link validation service, or translation service.</li>
</ul>

<p>Read more about bookmarklets on Wikipedia: <%= link_to "http://en.wikipedia.org/wiki/Bookmarklet" %></p>


<h2>What is a shortcut?</h2>
<p>
	This one's easy. A shortcut lets you create a keyword for a page you often visit. For example, 
	you could create a Queriac command for your favorite site, e.g. 
	<b>http://www.myfavoritewebsite.com/with/long/forgettable/address/</b> and give it a nice short keyword, 
	say <b>fave</b>. Now you can type <b>fave</b> in the address bar and voila! Up pops 
	<b>http://www.myfavoritewebsite.com/with/long/forgettable/address/</b>!
</p>

<h2>Sounds great, but I'm paranoid about privacy..</h2>
<p>
	Don't want people to see what you're searching for? Queriac lets you toggle the publicity of 
	your commands individually and the queries you make with them. If you're really paranoid, you
	can tell Queriac not to log your queries at all, so even you won't know what you've searched for.
</p>

<h2>I'm ready. How do I set it up?</h2>
<% if logged_in? %>
	<p>It looks like you're already logged in, so go ahead and proceed to the <%= link_to "setup instructions", setup_path %>.</p>
<% else %>
	<p>
		You don't seem to be logged in. First you'll need to <%= link_to "log in", new_session_path %> or 
		<%= link_to "create an account", new_user_path %>.
	</p>
<% end %>

<h2>How do I import commands?</h2>
<p>You can import commands that are from Firefox/Camino/Mozilla browsers <%= link_to 'here', import_user_commands_path %>.</p>

<h2 id="command_difference">What is the difference between a command and a user command?</h2>
<p>
	A command, although initially created by someone, isn't tied to a specific user. Rather, it simply holds the command url
	and default options for a command. When a user wants to use a command, they copy it and create their own user command.
	They can then customize their user command by adding their own tags and description etc ...<br/>
	When a user creates a user command from a command they are essentially subscribing to it. With users grouping around commands
	and sharing their knowledge, this site will hopefully one day offer commands that are maintainable and easily improved for everyone
	by those who you use them!
</p>

<h2>Things I haven't written yet..</h2>
<ul class="normal">
	<li>Get rid of your bookmarks in your browser or they will take precedence.</li>
	<li>A novel.</li>
</ul>

</div>

<div id="secondary">
	<%= render :partial => "/sessions/form" unless logged_in? %>
	
	<h1>Updates &amp; Support</h1>

	<h2>Google Group</h2>
	<p>If you need support or want to make a feature request, head over to <%= link_to "Queriac's Google Group", "http://groups.google.com/group/queriac" %>.</p>

	<h2>Blog</h2>
	<p>Queriac has a cute little tumblelog at <%= link_to "queriac.tumblr.com", "http://queriac.tumblr.com" %>. If you're looking 
		to stay in the loop about what's going on with Queriac but don't want to be overwhelmed by the chatter, this is the feed for you.</p>
	
	<h2>Bugs</h2>
	<p>Queri.ac is a one-man project at the moment so it's got its share of minor issues. If you find something, please submit a ticket at <%= link_to "Queriac's Google Code Project Page", "http://code.google.com/p/monoquery/issues/list" %>.</p>

</div>