<% if controller.action_name == 'copy' %>
	<%= hidden_field_tag 'user_command[command_id]', @command_id, :id=>'user_command_command_id' %>
	<div style="font-size: 12px">
		Since you are copying an existing command, certain fields cannot be edited ie url.
	</div>
<% end %>
<% @disabled_fields ||= [] %>

<div class="floater">
  <%= f.label :name %><br />
  <%= f.text_field :name, :size => 50  %>
</div>

<div class="floater">
  <%= f.label :keyword %><br />
  <%= f.text_field :keyword, :size => 14 %>
</div>

<div class="floatkiller">
	<% if ! @user_command.new_record? %>
		Url status: <%= url_status @user_command %>
		<br/>
	<% end %>
  <% label_string = "URL or Javascript Command. (Don't forget to include the protocol: http, https, javascript, etc..)" %>
  <%= f.label :url, label_string %><br />
  <%= f.text_field :url, {:size => 90, :disabled=>@disabled_fields.include?(:url)} %>
</div>

<% if @user_command.new_record? || @user_command.command_owned_by?(current_user)%>
<div style="margin: 0px; padding: 0px; font-size: 11px; color: #666">
	To create an option, you need to specify it in the url with format [:option_name].<br/>For example, an option named type is defined in this url: http://awesomeexample.com?type=[:type]&q=(q)
</div>
<% end %>
<h3 style="margin-top: 5px">Url options:
	<%= collapser_for "url_options", :autohide => true, :label => "Hide" %>
	<%= expander_for "url_options", :autohide => false, :label => "Show" %>
</h3>
<div id="options_container" style="margin-left: 20px">

<% if ! @user_command.new_record? && @user_command.has_options? || @user_command.new_record? %>
<div id="url_options" style="display:none">

	<% if @user_command.new_record? || @user_command.command_owned_by?(current_user)%>
		<% sync_params = @user_command.new_record? ? {} : {:user_command=>@user_command.id} %>
		<%= link_to_remote "Synchronize options with url", 
			{:url=>sync_url_options_user_commands_path(sync_params), :before=>"$('processing').show()", 
				:complete=>"$('processing').hide()",
				:with => %['user_command_url=' + escape($('user_command_url').value)]}
		%>
		 - do this if you have modified the url. NOTE: any new input you have entered in the options will be erased.<br/>
		<div id="processing" style="display:none"><%= image_tag "spinner.gif" %></div>
	<% end %>
		
	<div id="user_command_options">
		<%= render :partial=>'options', :locals=>{:options=>@user_command.ordered_url_options}%>
	</div>
</div>

<% end %>
</div>

<div class="floatkiller">
  <%= f.label :description, "Description (If command is complex, please provide an explanation of it and a sample query)" %><br />
  <%= f.text_area :description, :cols => 100, :rows => 12  %>
</div>

<div>
	<label for="tags">Tags (separated by spaces)</label><br />
	
	<% 
		if params[:tags]
			tag_list = params[:tags]
		else
			tag_list = @user_command.tag_string
		end
	%>
	
  <%= text_field_tag :tags, tag_list, {:size => 90} %>
</div>

	
<h3>COMMAND OPTIONS</h3>
<div style="margin-top: 10px; font-size: 11px">
<% if @user_command.new_record? && @controller.action_name != 'copy' %>
	* Once a command is public and is used by more than one person it must remain public.
<% elsif ! @user_command.new_record? && @user_command.command_owned_by?(current_user) %>
	* As the creator of this command, the public, http post and url encode options are updated for both the command and your user command.<br/>
	<% unless @user_command.command_editable? %>
	* Since the command is public and being used by other people, you can't edit the public state of the command.<br/>
	  You can always create a separate private version of the command by copying the command fields.
	<% end %>
<% end %>
</div>

<% unless @disabled_fields.include?(:public) %>
	<div class="floater">
	  <%= f.check_box :public %> <%= f.label :public, "Share this command with the public" %>
	</div>
<% end %>

<div class="floater">
  <%= f.check_box :public_queries %> <%= f.label :public_queries, "Share my queries", :id => "command_public_queries_label" %>
</div>

<div class="floater">
  <%= f.check_box :http_post %> <%= f.label :http_post, "Use HTTP POST" %>
</div>

<div class="floater">
  <%= f.check_box :url_encode %> <%= f.label :url_encode, "Use URL Encoding" %>
</div>