<h1 class="inline">
	<%= @queries.blank? ? 'No' : @user ? whose_commands(@queries.first.user_command) : "All" %> queries
	<%= "tagged with '#{@tags.join("+").gsub("+", "' and '")}'" unless @tags.blank? %>
	<span class="pagination_description">(<%= pagination_description @queries %>)</span>
</h1>

<ul class="bolder options header">
	<% if logged_in? && !current_user? %>
		<li class="search"><%= link_to 'Yours', (@tags.blank? ? user_queries_path(current_user) : user_tagged_queries_path(current_user, @tags)) %></li>
	<% end %>
	<% if @user %>
		<li class="search"><%= link_to 'All', (@tags.blank? ? queries_path : tagged_queries_path(@tags)) %></li>
	<% end %>
</ul>

<hr />

<table class="top_spaced">
  <tr>
    <th>User</th>
    <th>Query</th>
    <th>User Command</th>
    <th>Date</th>
  </tr>

<% for query in @queries %>
	<tr <%= cycle('class="offset"', '') -%>>	
		<td>
			<%= query_user(query) %>
		</td>
	  <td>
			<%= link_to_query query %>
		</td>
	  <td>
			<%= render_favicon_for_command query.user_command.command %>
			<%= link_to query.user_command.name, public_user_command_path(query.user_command) %>
		</td>
	  <td>
			<%= time_ago_in_words_or_date query.created_at %>
		</td>
	</tr>
<% end %>

</table>

<%= will_paginate @queries %>