<div class="floater">
  <%= f.label :name %><br />
  <%= f.text_field :name, :size => 50  %>
</div>

<div class="floater">
  <%= f.label :keyword %><br />
  <%= f.text_field :keyword, :size => 14 %>
</div>

<div class="floatkiller">
 <% url_disabled =  @command.has_options? %>
  <% if url_disabled %>
    <i>Url editing here has been disabled because it has options. You can edit the url and options from your user command of this command.</i><br/>
  <% end %>
  <%= f.label :url, "URL or Javascript Command. (Don't forget to include the protocol: http, https, javascript, etc..)" %><br />
  <%= f.text_field :url, :size => 90, :disabled=>url_disabled %>
</div>

<div>
  <%= f.label :description, "Description (If command is complex, please provide an explanation of it and a sample query)" %><br />
  <%= f.text_area :description, :cols => 100, :rows => 12  %>
</div>

<div>
	Note: These tags are independent of user command tags<br/>
	<label for="tags">Tags (separated by spaces)</label><br />
	
	<% 
		if params[:tags]
			tag_list = params[:tags]
		else
			tag_list = @command.tag_string
		end
	%>
	
  <%= text_field_tag :tags, tag_list, {:size => 90} %>
</div>

<div class="floater">
  <%= f.check_box :public %> <%= f.label :public, "Share this command with the public" %>
</div>

<div class="floater">
  <%= f.check_box :http_post %> <%= f.label :http_post, "Use HTTP POST" %>
</div>

<div class="floater">
  <%= f.check_box :url_encode %> <%= f.label :url_encode, "Use URL Encoding" %>
</div>
