<h1>Commands</h1>

<table>
  <tr>
    <th>Name</th>
    <th width="70">Keyword</th>
    <th>Queries</th>
		<th>Options</th>
  </tr>

<% for command in @commands %>
	<tr <%= cycle('class="offset"', '') -%>>	
    <td class="<%= command.bookmarklet? ? "bookmarklet" : command.kind %>"><%= link_to command.name, command.show_path %></td>
    <td><%= command.keyword %></td>
    <td><%= command.queries_count_all %></td>	
		<td>
			<ul class="options">
			<% if current_user_is_the_user? %>
				<li class="no_icon"><%= link_to image_tag("icons/edit.png"), command.edit_path %></li>
				<li class="no_icon"><%= link_to image_tag("icons/delete.png"), command.delete_path, :confirm => "Are you sure you want to delete this command?" %></li>
			<% elsif logged_in? %>
				<li class="add"><%= link_to 'Copy', new_command_path({:ancestor => command.id}) %></li>
			<% end %>
			</ul>
		</td>
  </tr>
<% end %>
</table>

<%= will_paginate @commands %>