<h1 class="inline">Edit Command</h1>

<ul class="options header">
	<li class="search"><%= link_to 'Show this Command', @command.show_path %></li>
	<li class="add"><%= link_to 'Duplicate', new_command_path({:ancestor => @command.id}) %></li>
	<li class="delete"><%= link_to 'Delete', @command.delete_path, :confirm => "Are you sure you want to delete this command?" %></li>
</ul>


<hr />


<%= error_messages_for :command %>

<% form_for(:command, :url => "/commands/#{@command.id}", :html => { :method => :put }) do |f| %>

	<%= render :partial => "edit_form", :locals => {:f => f} %>

  <div class="floatkiller">
    <%= submit_tag "Save Changes", :class => "submit" %>
  </div>
<% end %>