<%- title = "Commands"; title += " " + sort_description.titleize if params[:sort]; set_header :title=>title -%>
<% if logged_in? %>
	<div style="float: right">
	<% form_tag search_all_commands_path, :method=>:get  do %>
	<label for="q">Search commands by url or keyword</label>
		<%= text_field_tag 'q' %>
		<%= submit_tag 'Search' %>
	<% end %>
	</div>
<% end %>

<h1 class="inline">
	<% if current_page_matches?(search_all_commands_path) %>
		Search Results for '<%= params[:q] %>'
	<% else %>
		<%# @commands.empty? ? 'No' : (@user ? whose_commands(@commands.first) : "All") %>
		<%= @commands.empty? ? 'No' : 'All' %>
		commands
		<%= sort_description if params[:sort ]%>
	<% end %>
	<span class="pagination_description">(<%= pagination_description @commands %>)</span>
</h1>

<% if false %>
<ul class="bolder options header">
	<% if logged_in? && @user != current_user %>
		<li class="search"><%= link_to 'Yours', specific_user_commands_path(current_user) %></li>
	<% end %>
	<% if @user %>
		<li class="search"><%= link_to 'All', commands_path %></li>
	<% end %>
</ul>
<% end %>


<hr />

<table class="top_spaced">
  <tr>
    <th>Name<br/>
		<%= sort_link_up 'name'%>
		<%= sort_link_down 'name'%>
	</th>
   	<th width="30">Users</th>
 <th width="30" class="centered">Queries<br/>
	<%= sort_link_up 'queries_count_all' %>
	<%= sort_link_down 'queries_count_all' %>
 </th>
    <th width="70" class="centered">Keyword<br/>
	<%= sort_link_up 'keyword'%>
	<%= sort_link_down 'keyword'%>
</th>
    <!-- <th width="120">Last Used</th> -->
	<th>Creator</th>
	<th>Created<br/>
		<%= sort_link_up 'created_at'%>
		<%= sort_link_down 'created_at'%>
	</th>
	<% if logged_in? %>
	<th>Options</th>
	<% end %>
  </tr>
 
<% for command in @commands %>
	<tr <%= cycle('class="offset"', '') -%>>
    <td>
			<p class="command_title">
				<%= command_link command %>
			</p>
		</td>
	<td class="centered"><%= command.users.count %></td>
    <td class="centered <%= "faded" if command.queries_count_all == 0 %>"><%= command.queries_count_all %></td>	
    <td class="centered"><%= command.keyword %></td>
	<%# PERF: command.queries is too db-intensive for now %>
    <!-- <td>
		<%# command.queries_count_all > 0 ? time_ago_in_words_or_date(command.queries.find(:first).created_at) : link_to("(Unused)", command_path(command), :class => "faded") %>
	</td> -->
	<td class="centered">
		<%= user_link command.user %>
	</td>
	<td>
		<%= time_ago_in_words_or_date(command.created_at) %>
	</td>
	<% if logged_in? %>
	<td>
		<ul class="options">
			<% if current_user.is_admin? %>
				<li class="no_icon"><%= link_to image_tag("icons/edit.png"), edit_command_path(command) %></li>
			<% end %>
			<% unless command.created_by?(current_user) %>
				<li class="add"><%= link_to 'Subscribe', subscribe_user_command_path(:id=> command.id, :is_command=>true) %></li>
			<% end %>				
		</ul>
	</td>
	<% end %>
  </tr>
<% end %>
</table>

<%= will_paginate @commands %>