<h1 class="inline">
	<% if @controller.action_name == 'search' %>
		Search Results for '<%= params[:q] %>'
	<% else %>
	<%= @user ? whose_commands(@commands.first) : "All" %> commands
	<%= "tagged with '#{@tags.join("+").gsub("+", "' and '")}'" unless @tags.blank? %>
	<% end %>
</h1>

<ul class="bolder options header">
	<% if logged_in? && @user != current_user %>
		<li class="search"><%= link_to 'Yours', (@tags.blank? ? current_user.commands_path : current_user.commands_tag_path(@tags.join("+"))) %></li>
	<% end %>
	<% if @user %>
		<li class="search"><%= link_to 'All', (@tags.blank? ? "/commands" : "/commands/tag/#{@tags.join("+")}") %></li>
	<% end %>
</ul>


<hr />

<table class="top_spaced">
  <tr>
    <th>Name</th>
    <th width="30" class="centered"><b>Hits</b></th>
    <th width="70">Keyword</th>
    <th><%= @user ? "Last Used" : "User" %></th>
		<th>Options</th>
  </tr>
 
<% for command in @commands %>
	<tr <%= cycle('class="offset"', '') -%>>
    <td class="<%= command.kind %>">
			<p class="command_title"><%= link_to command.name, command.show_path %></p>
			<p class="tag_list">Tags: <%= command.tags.map{|t| link_to(t.name, "/#{command.user.login}/commands/tag/#{t.name}") }.join(" ") %></p>
		</td>
    <td class="centered <%= "faded" if command.queries.size == 0 %>"><%= command.queries.size %></td>	
    <td class="centered"><%= command.keyword %></td>
    <td>
			<% if @user %>
				<%= command.queries.size > 0 ? time_ago_in_words_or_date(command.queries.last.created_at) : link_to("(Unused)", command.show_path, :class => "faded") %>
			<% else %>
				<%= link_to command.user.login, command.user.home_path %>
			<% end %>
		</td>	
		<td>
		<% if logged_in? %>
			<ul class="options">
				<% if current_user_owns_command? command %>
					<li class="no_icon"><%= link_to image_tag("icons/edit.png"), command.edit_path %></li>
					<li class="no_icon"><%= link_to image_tag("icons/delete.png"), command_path(command), :confirm => "Are you sure you want to delete this command?", :method => :delete  %></li>
				<% else %>
					<li class="add"><%= link_to 'Copy', new_command_path({:ancestor => command.id}) %></li>
				<% end %>				
			</ul>
		<% end %>
		</td>
  </tr>
<% end %>
</table>

<%= will_paginate @commands unless @tag %>