<h1 class="inline">
	<% if current_page_matches?(search_all_commands_path) %>
		Search Results for '<%= params[:q] %>'
	<% else %>
		<%# @commands.empty? ? 'No' : (@user ? whose_commands(@commands.first) : "All") %>
		<%= @commands.empty? ? 'No' : 'All' %>
		commands
	<% end %>
</h1>

<% if false %>
<ul class="bolder options header">
	<% if logged_in? && @user != current_user %>
		<li class="search"><%= link_to 'Yours', specific_user_commands_path(current_user) %></li>
	<% end %>
	<% if @user %>
		<li class="search"><%= link_to 'All', commands_path %></li>
	<% end %>
</ul>
<% end %>


<hr />

<table class="top_spaced">
  <tr>
    <th>Name</th>
   	<th width="30">Users</th>
 <th width="30" class="centered">Queries</th>
    <th width="70">Keyword</th>
    <!-- <th width="120">Last Used</th> -->
	<th>Creator</th>
	<th>Created</th>
	<% if logged_in? %>
	<th>Options</th>
	<% end %>
  </tr>
 
<% for command in @commands %>
	<tr <%= cycle('class="offset"', '') -%>>
    <td>
			<p class="command_title">
				<%= render_favicon_for_command command %>
				<%= link_to command.name, command_path(command), :title=>command.url, :class => "iconed" %>
			</p>
		</td>
	<td class="centered"><%= command.user_commands.size %></td>
    <td class="centered <%= "faded" if command.queries_count_all == 0 %>"><%= command.queries_count_all %></td>	
    <td class="centered"><%= command.keyword %></td>
	<%# command.queries is too db-intensive for now %>
    <!-- <td>
		<%# command.queries_count_all > 0 ? time_ago_in_words_or_date(command.queries.find(:first).created_at) : link_to("(Unused)", command_path(command), :class => "faded") %>
	</td> -->
	<td class="centered">
		<%= link_to command.user.login, user_home_path(command.user) %>
	</td>
	<td>
		<%= time_ago_in_words_or_date(command.created_at) %>
	</td>
	<% if logged_in? %>
	<td>
		<ul class="options">
			<% if current_user.is_admin? %>
				<li class="no_icon"><%= link_to image_tag("icons/edit.png"), edit_command_path(command) %></li>
			<% end %>
			<% unless command.created_by?(current_user) %>
				<li class="add"><%= link_to 'Copy', copy_user_command_path(:id=> command.id, :is_command=>true) %></li>
			<% end %>				
		</ul>
	</td>
	<% end %>
  </tr>
<% end %>
</table>

<%= will_paginate @commands %>