<h1 class="inline">
	<%= @command.name %>
</h1>
<% if logged_in? %>
	<ul class="options header">
		<% if current_user.is_admin? %>
			<li class="edit"><%= link_to 'Edit this Command', edit_command_path(@command) %></li>
		<% end %>
		<% unless @command.created_by?(current_user) %>
			<li class="add"><%= link_to 'Copy', copy_user_command_path(:id=>@command.id, :is_command=>true) %></li>
		<% end %>
	</ul>
<% end %>

<hr />
<p class="small-url">
	<%= @command.url.ellipsize(:max => 150, :delimiter => " . . . . . ") %>
</p>

<div id="primary">
		<div style="margin: 20px 0px">
			<h2>Description</h2>
			<div id="command_description_box" style="font-size: 12px">
				<%= command_description @command %>
			</div>
		</div>
		
		<h2>
			Public Queries
			<%= "(Last #{@queries.size})" %>
		</h2>
		<%= query_table @queries, :columns=>[:query_string, :created_at]%>
		<%= table_link_to "View all queries", command_queries_path(@command) %>
</div>


<div id="secondary">
	
	<h2>
		<%= render_favicon_for_command @command %>
		About this Command
	</h2>
	<p>Created by <%= link_to @command.user.login, user_home_path(@command.user)%> on <%= @command.created_at.to_s(:medium)%>.</p>
	
	<p><b>Keyword:</b> <%=h @command.keyword %></p>
	
	<p><b>Kind:</b> <%=h @command.kind %> <%= "(uses POST)" if @command.http_post? %></p>
	
	<p><b>Visible to Public:</b> <%= @command.public? ? "Yes" : "No" %></p>
	<p><b>Number of Users:</b> <%= @command.users.size %></p>
		
	<p><b>Total Queries:</b> <%= @command.queries_count_all %></p>
	
	<% if @command.public? && ! @user_commands.empty? %>
		<h2>Top User Commands</h2>
		<%= user_command_table(@user_commands, :columns=>[:user, :name, :queries_count]) %>
		<%= table_link_to "View all user commands", command_user_commands_path(@command) %>
	
	<% end %>
	<% if false %>
		<h2>Tags</h2>
		<%= tag_cloud @command.tags %>
		<!-- <p><b>Tags:</b> <%# @command.tag_string.split(" ").map{|tag| "<a href=''>#{tag}</a>"}.join(" ") %></p>	 -->
	<% end %>

	
</div>