<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<title><%= render_page_title %></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="alternate" type="application/rss+xml" title="Queriac Blog" href="http://queriac.tumblr.com/rss">
		<%= stylesheet_link_tag 'base' %>
		<%= javascript_include_tag :defaults %>	
	</head>
	
	<body>
	
		<div class="container">
		  <div id="header">
		
		    <div id="logo">
					<%= render_nav %>
				</div>
				
		    <div id="mininav">
					<%= render_mininav %>
		    </div>

		  </div><!-- end #header -->
		
		  <div id="content">
         <%= flash_div %>
         <%= yield %>
		  </div><!-- end #content -->
		
		</div><!-- end #container -->
	
		<div id="footer">
		</div>
		<!-- end #footer -->
		
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			var pageTracker = _gat._getTracker("UA-81559-4");
			pageTracker._initData();
			pageTracker._trackPageview();
		</script>
	
	</body>
</html>

